/* comment css */
/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* ID selector */
/* #myTitle {
	color: pink;
} */

/* class selector  */
.title {
	color: blue;
}
.title2 {
	color: green;
}


/* HTML selector */
/* h1.title {
	color: red;
}
 */

/* Attribute selector */
input[type='email'] {
	border: 1px solid red;
}
input[class~='test2'] {
	border: 1px solid blue;
}
input[class^='de'] {
	border: 1px solid yellow ;
}
input[class$='mo'] {
	border: 1px solid violet ;
}
/* input[class*='st'] {
	border: 2px solid orange;
} */
input[class|='my'] {
	border: 2px solid brown;
}


div.box-1 + div.box-2 {
	width: 300px;
	height: 300px;
	border: 1px solid red;
}
div.content > div.content-2 + div.content-3 ~ div.content-4 > div.content-5 nav.menu > input[class^='myinput'] {
	border: 2px solid blue;
}












